@import url('https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css');

.heading{
    text-align: center;
    color: red;
}
h2{
    text-align: center;
}
.product{
    padding: 10px;
    height: 350px;
    width: 250px;
    background: rgb(220, 220, 220);
    border-radius: 10px;
}
.product img{
    border-radius: 10px;
    width:100% ;
}
.products{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
}